<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url inps</title>
</head>

<body id="body">
    <label>Log In</label>
    <div id="loginDiv">
        <div>
            <input type = "text" name = "username" id = "username" placeholder="Username or Password" required>
        </div>
        <div>
            <input type = "text" name = "password" id = "password" placeholder="Password" required>
        </div>
        <div>
            <button id="submitButton">submit</button>
            <a href="./signUp">click here if you don't have an account</a>
        </div>
    </div>

    <script>
        const button = document.getElementById("submitButton");

        button.addEventListener('click', (ev) => {
            ev.preventDefault();
            const usernameForm = document.getElementById("username");
            const passwordForm = document.getElementById("password");

            const username = usernameForm.value;
            const password = passwordForm.value;

            //post the user
            fetch('/home/users/'+username+'/'+password ,{
                method: "GET",
            })
            .then(res => {
                if(res.status === 200) {
                    res.json().then(resp => {
                        sessionStorage.setItem("userSession", resp.loginCode);
                        console.log(sessionStorage.getItem("userSession", resp.loginCode));
                        window.location.href = "/home/url-shortener";
                    });
                }
                else if(res.status === 404) {
                    const errorDiv = document.createElement("div");
                    const paragraph = document.createElement("p");
                    const node = document.createTextNode("user doesn't exist");
                    paragraph.appendChild(node);
                    paragraph.style.color = "red";
                    errorDiv.appendChild(paragraph);
                    const loginDiv = document.getElementById("loginDiv");
                    loginDiv.appendChild(errorDiv);
                }
                else if(res.status === 409) { 
                    const errorDiv = document.createElement("div");
                    const paragraph = document.createElement("p");
                    const node = document.createTextNode("username/email and/or password are invalid");
                    paragraph.appendChild(node);
                    paragraph.style.color = "red";
                    errorDiv.appendChild(paragraph);
                    const loginDiv = document.getElementById("loginDiv");
                    loginDiv.appendChild(errorDiv);
                }
            })
        });
    </script>
</body>

</html>