<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url inps</title>
</head>

<body id="body">
    <label for="url" >Input your url</label>
    <input type="text" name="url" id="url" required>
    <button id="post">post</button>
    <button id="put">put</button>
    <input type="text" name="hash" id="hash">
    <div id="toAddText"></div>

    <script>
        const postButton = document.getElementById("post");

        postButton.addEventListener('click', (ev) => {
            ev.preventDefault();
            const resultText = document.createElement("p");
            const textForm = document.getElementById("url");
            const inpUrl = textForm.value; 
            //post the url
            fetch('/urls/', {
                method: "POST",
                body: JSON.stringify({ "url": inpUrl}),
                headers: {
                    "Content-Type": "application/json"
                },
            })
            .then(function(response){
                response.json().then(resp => {
                    const node = document.createTextNode("use this /" + resp.hashGenerated);
                    resultText.appendChild(node);
                    const divFound = document.getElementById("toAddText");
                    const newDiv = document.createElement("div");
                    newDiv.appendChild(resultText);
                    divFound.appendChild(newDiv);
                })
            })
            .then(function(data){
                // resultText.innerHTML = data.body;
            });
        });


        const putButton = document.getElementById("put");
        putButton.addEventListener('click', (ev) => {
            ev.preventDefault();
            const resultText = document.createElement("p");
            const textForm = document.getElementById("url");
            const inpUrl = textForm.value; 
            const hashForm = document.getElementById("hash");
            const inpHash = hashForm.value;
            //put the url
            fetch('/urls/'+inpHash, {
                method: "PUT",
                body: JSON.stringify({ "url": inpUrl}),
                headers: {
                    "Content-Type": "application/json"
                },
            })
            .then(function(response){
                const node = document.createTextNode("updated successfuly");
                resultText.appendChild(node);
                const body = document.getElementById("body");
                const newDiv = document.createElement("div");
                newDiv.appendChild(resultText);
                body.appendChild(newDiv);
            })
            .then(function(data){
                // resultText.innerHTML = data.body;
            });
        });
    </script>
</body>

</html>