<!DOCTYPE html>
<html lang="en">
    <body id="body">
        <h1 id="username"><%= username %></h1>
        <script>
            const user = sessionStorage.getItem("userSession");
            const username = document.getElementById("username").innerText;

            const jwt = sessionStorage.getItem("userSession");

            fetch("/home/users/" + username + "/urls/view" ,{
                method: "GET",
                headers: 
                {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    "authentication" : user,
                    "username" : username
                }
            })
            .then(res => {
                    if(res.status === 200){
                        res.json().then(response => {
                            const urls = response;
                            const body = document.getElementById("body");
                            const table = document.createElement("table");
                            body.appendChild(table);

                            const rows = table.rows;
                            const headerRow = table.insertRow(0);
                            headerRow.insertCell(0).innerHTML = "User's urls";
                            headerRow.insertCell(1).innerHTML = "Shortened code";

                            for(let urlJson of urls) { 
                                const row = table.insertRow(rows.length);
                                row.insertCell(0).innerHTML = urlJson.url;
                                const codeCell = row.insertCell(1);
                                const a = document.createElement("a");
                                a.innerText = urlJson.code;
                                a.href = '/home/urls/'+urlJson.code;
                                codeCell.appendChild(a);
                            }
                        });
                    }
                    else if(res.status === 401){
                        window.location.href = "/errors/unauthorized";
                    }
                    else if(res.status === 404){
                        window.location.href = "/errors/notFound";
                    }   
            })
        </script>
    </body>
</html>